:root {
    /* Theme Colors */
    --background: black;
    --accent: grey;
    --primary: white;
    --accent_acc: rgb(67, 67, 67);
    --background_acc: rgb(50, 50, 50);

    /* Social Media Orbit Colors */
    --o1_color: var(--primary);
    --o2_color: var(--primary);
    --o3_color: var(--primary);
    --o4_color: var(--primary);
    --o5_color: var(--primary);
    --o6_color: var(--primary);

    --p1_color: var(--accent);
    --p2_color: var(--accent);
    --p3_color: var(--accent);
    --p4_color: var(--accent);
    --p5_color: var(--accent);
    --p6_color: var(--accent);

    /* Social Media Color Bars */
    --bar1: var(--background);
    --bar2: var(--accent);
    --bar3: var(--background);
    --bar4: var(--accent);
    --bar5: var(--background);
    --bar6: var(--accent);

    --bar1_acc: var(--background_acc);
    --bar2_acc: var(--accent_acc);
    --bar3_acc: var(--background_acc);
    --bar4_acc: var(--accent_acc);
    --bar5_acc: var(--background_acc);
    --bar6_acc: var(--accent_acc);
}

body{
    background-color: var(--background);
}