:root{
}

.column {
    position: absolute;
    width: calc(100vw/6);
    height: 100vh;
    top: -100vh;
    animation: slide-down 1s forwards 1;
}

.column img {
    position: absolute;
    bottom: 15vh;
    left: 0px;
}

.label {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 9vw;
    color: white;
    text-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#col1{
    background-color: #FF4118;
    left: calc((100vw/6)*0);
    animation-delay: 0s;
}

#col2{
    background-color: #FF9618;
    left: calc((100vw/6)*1);
    animation-delay: 0.5s;
}

#col3{
    background-color: #8BEB1C;
    left: calc((100vw/6)*2);
    animation-delay: 1s;
}

#col4{
    background-color: #1CEB96;
    left: calc((100vw/6)*3);
    animation-delay: 1.5s;
}

#col5{
    background-color: #1C53EB;
    left: calc((100vw/6)*4);
    animation-delay: 2s;
}

#col6{
    background-color: #8E1CEB;
    left: calc((100vw/6)*5);
    animation-delay: 2.5s;
}

@keyframes slide-down {
    100% { top: 0px; }
}