:root {
    /* Theme Colors */
    --background: white;
    --accent: grey;
    --primary: black;

    /* Social Media Orbit Colors */
    --o1_color: var(--primary);
    --o2_color: var(--primary);
    --o3_color: var(--primary);
    --o4_color: var(--primary);
    --o5_color: var(--primary);
    --o6_color: var(--primary);

    --p1_color: var(--primary);
    --p2_color: var(--primary);
    --p3_color: var(--primary);
    --p4_color: var(--primary);
    --p5_color: var(--primary);
    --p6_color: var(--primary);
}

body{
    background-color: var(--background);
}